body {
    margin: 0;
    font-family: "Cairo", sans-serif;
    background: #0f172a;
    color: #fff;
    display: flex;
}

/* SIDEBAR */
.sidebar {
    width: 240px;
    background: #020617;
    padding: 20px;
}

.sidebar ul {
    list-style: none;
    padding: 0;
}
a{text-dicoration:none;}
.sidebar li {
    padding: 12px;
    cursor: pointer;
}

.sidebar .active {
    background: #2563eb;
    border-radius: 8px;
}

/* MAIN */
.main {
    flex: 1;
    padding: 20px;
}

/* NAVBAR */
.navbar {
    background: #020617;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    border-radius: 12px;
    margin-bottom: 20px;
}

/* SETTINGS */
.settings {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
}

/* CARD */
.card {
    background: #020617;
    padding: 20px;
    border-radius: 16px;
    box-shadow: 0 0 20px rgba(0, 0, 0, .4);
}

.card h3 {
    margin-bottom: 15px;
}

.card label {
    display: block;
    margin-bottom: 10px;
}

/* BUTTON */
button {
    background: #2563eb;
    border: none;
    padding: 10px 20px;
    border-radius: 10px;
    color: #fff;
    cursor: pointer;
}

.main {
    flex: 1;
    padding: 20px;
}

.navbar {
    background: #020617;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    border-radius: 12px;
    margin-bottom: 20px;
}

.roles {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
    gap: 20px;
}

.role-card {
    background: #020617;
    padding: 20px;
    border-radius: 16px;
}

.role-card h3 {
    margin-bottom: 15px;
}

.role-card label {
    display: block;
    margin-bottom: 10px;
}

.admin {
    border: 2px solid gold;

}
